# Default owner
* @albertodimas

# Apps
/apps/web/** @albertodimas
/apps/api/** @albertodimas

# Tests & scripts
/tests/** @albertodimas
/scripts/** @albertodimas

# Documentación
/docs/** @albertodimas
