# Node/Bun
node_modules/
bun.lockb
npm-debug.log
yarn-error.log

# Python/MkDocs
__pycache__/
site/
.mypy_cache/
.mkdocs-cache/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env*.local
!.env.example
!.env.local.example

# Logs
*.log

# IDE
.vscode/
.idea/

.venv/
.turbo
